.edit-page {
    height: 100vh;
    width: 100vw;

    h1 {
        margin: 0;
    }

    .header {
        padding-top: 8rem;
        margin: 0 0 3rem 5rem;
    }

    .container {
        margin: 0 5rem;

        &>div {
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;
            height: 2.5rem;
            
            &>div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 20vw;
                text-align: end;
            }

            input, textarea {
                height: 100%;
                border: none;
                outline: none;
                border-radius: 2px;
                width: 15vw;
                background-color:  #ffffff45;
                color: var(--color-font);
                padding-left: 1rem;
                margin-left: 1rem;
            }

            textarea {
                padding-top: 1rem;
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            
            button {
                margin-top: 2rem;
                width: 15vw;
                height: 3rem;
            }
        }
    }

}